@{
    ViewBag.Title = "SignIn";
}

<br />
<div class="row">
    <div class="col-sm-8">
        <img class="img-thumbnail " src="~/Content/Images/img_Home.png" />
    </div>
    <div class="col-sm-4 p-2 align-middle">
        <div class="bg-white border border-3 p-4 ">
            <form action="/" method="post">
                <div class="mb-3 ms-5">
                    @Html.TextBox("Username", null, new { @class = "form-control w-75 m-25", placeholder = "Username" })
                </div>
                <br />
                <div class="mb-3 ms-5">
                    @Html.Password("Password", null, new { @class = "form-control w-75 m-25", placeholder = "Password" })
                </div>
                <p class="text-danger m-auto w-75">@ViewBag.message</p>
                <br />
                <div class="text-center p-2">
                    <input type="submit" value="Login" class="btn btn-primary w-100" formaction="/users/SignIn" />
                    <br />
                    <p class="m-2"><a href="#WeAreWorkingOnThis:)">Forgot Password?</a></p>
                </div>
                <hr />
                <div class="text-center p-2">
                    @Html.ActionLink("Create New Account", "Create", "users", null, new { @class = "btn btn-primary w-75 bg-success text-decoration-none" })
                </div>
            </form>

        </div>
    </div>
</div>