@model IEnumerable<CryptoBalance.transaction>

@{
    ViewBag.Title = "Index";
    Layout = null;
}

<table class="table">
    <tr>
        <th>
            Crypto Coin
        </th>
        <th>
            Market Price
        </th>
        <th>
            Amount
        </th>
        <th>
           Total Coins
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.crypto_coin)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.market_price)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.amount)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.cryto_total)
    </td>
</tr>
   }

    @{ 
        Double sumBTC = 0;
        Double sumFiat = 0;

            foreach (var item in Model)
            {
                sumBTC += Convert.ToDouble(item.cryto_total);
                sumFiat += Convert.ToDouble(item.amount);
            }
            TempData["totalBTC"] = sumBTC;
            TempData["totalFiat"] = sumFiat;
            TempData.Keep();

        }

</table>
